.footer li {
  list-style: none;
  color: darkslategrey;
}

.footerDiv li a:hover,
.footerDiv li a:active,
.footerDiv li .rgpd:hover,
.footerDiv li .rgpd:active {
  color: #ff6600;
}

.footer .rgpd {
  cursor: pointer;
}

.footer {
  padding: 90px 0 0 0;
}

.footer > hr {
  border: 0.2px solid rgb(204, 218, 218);
}

.footerDiv {
  height: 200px;
  display: flex;
  justify-content: space-around;
  padding: 30px 50px;
  background-color: beige;
  align-items: center;
}

.footerDiv div:nth-child(2) ul {
  display: flex;
}

.footerDiv div:nth-child(2) ul li {
  width: 150px;
  padding: 15px;
  text-align: center;
}

.footerDiv li a {
  color: rgb(187, 216, 216);
  text-decoration: none;
}




