*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

/* HEADER - UP */
.headerUp {
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.headerUp .logoHortus {
  width: 200px;
}

.headerUp .logoConnect img {
  width: 40px;
}

.logoConnect,
.connectLogo {
  filter: contrast(50%);
  flex-wrap: wrap;
}

.headerUp .logoConnect ul {
  width: 600px;
}

.headerUp .logoConnect ul {
  display: flex;
  justify-content: space-around;
}

.logoConnect li:nth-child(4) {
  text-align: center;
  color: #046516;
}

.headerUp li {
  list-style: none;
}

.headerUp a {
  color: darkslategrey;
}

.headerUp a {
  text-decoration: none;
  font-size: 20px;
}

.headerUp a:hover {
  color: #ff6600;
}

.headerUp a:active {
  color: #ff6600;
}

/* HEADER - CENTER */
.headerCenter {
  text-align: center;
  color: darkslategrey;
  border: 0.2px solid rgb(204, 218, 218);
  font-size: 25px;
  padding: 30px 0px;
  background-color: beige;
}
